<center><h1>Task</h1></center>
<table border=1>
	<tr>
		<th>Task Id</th> <td><%=@task.id%></td>
	</tr>
	<tr>	
		<th>Task Name</th><td><%=@task.name%></td>
	</tr>
	<tr>
		<th>Start Date</th><td><%=@task.start_date%></td>
	</tr>
	<tr>
		<th>End Date</th><td><%=@task.end_date%></td>
	</tr>
	<tr>
		<th>Status</th><td><%=@task.status%></td>
	</tr>
	<tr>
		<th>Milestone Name</th><td><%=@milestone.name%></td>
	</tr>
	<tr>
		<th>User Name</th><%u=User.find(@task.user_id)%>
			<td><%=u.user_name%></td>
	</tr>
	<tr>
		<th colspan=2><%=link_to "Back",milestone_tasks_path%></th>
	</tr>
</table>

