<%= form_tag(users_tasks_path,:method=>:get) do%>
<%=text_field_tag "search[name]",(params[:search].present? ? params[:search][:name]: '')%>
<%=text_field_tag "search[start_date]","",:class=>"datepicker"%>
<%=select_tag "search[status]",options_for_select(["","Not_Started","Started","In-Progress","Finished"],:selected=>(params[:search].present? ? params[:search][:status]: ''))%>
<%=submit_tag "Search" %>
<% end %>
<table border=1>
	<tr>
		<th>Task Id</th>
		<th>Name</th>
		<th>Status</th>
		<th>Start Date</th>
		<th>End Date</th>
	</tr>
	<%@tasks.collect do |task| %> 
		<tr>
			<td><%=task.id%></td>
			<td><%=task.name%></td>
			<td><%=task.status%></td>
			<td><%=task.start_date.strftime("%d/%m/%Y")%></td>
			<td><%=task.end_date.strftime("%d/%m/%Y")%></td>
		</tr>
	<%end%>
</table>
