<center><h1>Project</h1></center>
<p style="float:right;padding-right:20px"><%= link_to "New Project", new_project_path%></p>

<%= form_tag(projects_path,:method=>:get) do%>
<%=text_field_tag :search,params[:search]%>
<%=text_field_tag :search,"",:class=>"datepicker"%>
<%=submit_tag "Search" %>
<% end %>

<table border=1 class="rows">
	<tr>
		<th>Project Id</th>
		<th>Project Name</th>
		<th>Description</th>
		<th>Start Date</th>
		<th>End Date</th>
		<th>Status</th>
		<th>Operations</th>
	</tr>
	<%@projects.each do |project|%>
		<tr>
			<td><%=project.id%></td>
			<td><%=project.project_name%></td>
			<td><%=project.project_description%></td>
			<td><%=project.start_date.strftime("%d/%m/%Y")%></td>
			<td><%=project.end_date.strftime("%d/%m/%Y")%></td>
			<td><%=project.status%>
				<%if project.status!="Finished"%>
					<%=link_to "Finish",finish_project_project_path(project)%> 
					
				<%end%>
			</td>
						<td>
				<%=link_to "Show",project_path(project)%>
				<%=link_to "Edit",edit_project_path(project) %>
				<%=link_to "Delete",project_path(project),:method=>:delete%>
				<%=link_to "Milestone",project_milestones_path(project) %>
			</td>
		</tr>
	<%end%>	
</table>
